* {
  border-block: border-box;
}

html {
    font-size: 10px;
  }

body {
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: white;
    background-color: black;
}